<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title>粉丝管理</title>
</head>
<body class="layui-layout-body">
<div layout:fragment="content">

    <div class="layui-fluid">
        <div class="layui-row">
            <div class="layui-collapse layui-col-md12">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">筛选</h2>
                    <div class="layui-colla-content">
                        <form class="layui-form" action="#">
                            <div class="layui-form-item">
                                <label class="layui-form-label">帐号</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="account" placeholder="请输入帐号"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <label class="layui-form-label">昵称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="nickName"  placeholder="请输入昵称"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <label class="layui-form-label">性别</label>
                                <div class="layui-input-inline" style="width:220px;">
                                    <input type="radio" name="sex" value="0" title="全部" checked>
                                    <input type="radio" name="sex" value="1" title="男" >
                                    <input type="radio" name="sex" value="2" title="女">
                                </div>
                                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="userForm">
                                    <i class="layui-icon">&#xe609;</i>查询</button>
                                <button class="layui-btn layui-btn-sm" id="refresh" type="button">
                                    <i class="layui-icon layui-anim layui-anim-loop">&#x1002;</i>刷新
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12">

            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12">
                <table id="wechatFansList" lay-filter="wechat_fans_list" lay-size="sm"></table>
            </div>
        </div>
    </div>

    <script type="text/html" id="sexTemp">
        {{#  if(d.sex == '1'){ }}
        <i class="layui-icon" style="color: blue;">&#xe662;</i>
        {{#  } else { }}
        <i class="layui-icon" style="color: red;">&#xe661;</i>
        {{#  } }}
    </script>

    <script type="text/html" id="addressTemp">
        <div>{{d.country}}{{d.province}}{{d.city}}</div>
    </script>

    <script type="text/html" id="imgTemp">
        <img src="{{d.headimgurl}}" alt="头像" height="25px" width="25px">
    </script>

    <script type="text/html" id="operaBtn">
        <a class="layui-btn  layui-btn-xs" lay-event="edit">查看</a>
    </script>

    <script type="text/html" id="subscribeTimeTemp">
        <div>
            {{ layui.util.toDateString(d.subscribe_time*1000,'yyyy年MM月dd日') }}
        </div>
    </script>
    <script type="text/html" id="searchBlock">

    </script>
</div>
<script type="application/javascript" layout:fragment="javascript">
    layui.use(['table', 'dhh_table', 'util', 'layer'], function () {
        var table = layui.table;
        var dhh_table = layui.dhh_table;
        var $ = layui.jquery;
        var layer = layui.layer;
        $("#refresh").click(function () {
            //判断是否处于刷新状态，如果正在处于刷新状态，则不允许点击
            var _btn = $(this);
            if (_btn.hasClass('layui-btn-disabled')) {
                //处于刷新状态，则不允许点击
                return;
            }
            var _i = _btn.find('i');
            _i.addClass('layui-anim-rotate');
            _btn.addClass('layui-btn-disabled');
            $.ajax({
                url: "/wechat/refresh",
                type: "get",
                dataType: "json"
            }).done(function (result) {
                _i.removeClass('layui-anim-rotate');
                _btn.removeClass('layui-btn-disabled');
                if (result.code === '100') {
                    layer.msg("刷新成功");
                    table.reload('wechatFansList');
                }
            }).error(function () {
                _i.removeClass('layui-anim-rotate');
                _btn.removeClass('layui-btn-disabled');
            })
        });
        table.render({
            elem: '#wechatFansList',
            method: "GET",
            height: 'full-160',
            url: '/wechat/fanslist', //数据接口
            page: true, //开启分页
            cols: dhh_table.wechat_fans_list,
            request: dhh_table.request,
            response: dhh_table.response,
            done: function (res, curr, count) {
                console.log("数据接受完毕");
            }
        });
    });
</script>
</body>
</html>