<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title>消息管理</title>
    <link rel="stylesheet" href="../../static/dhh/css/wechat/message.css" th:href="@{/dhh/css/wechat/message.css}"/>
</head>
<body class="layui-layout-body">
<div layout:fragment="content">
    <div class="layui-tab layui-tab-card" lay-filter="messageTab" lay-allowClose="true">
        <ul class="layui-tab-title">
            <li class="layui-this no-close">历史消息(<span id="messageCount">0</span>)</li>
            <li class="no-close">时时消息</li>
        </ul>
        <div class="layui-tab-content message-body" style="bottom: 0;">
            <div class="layui-tab-item layui-show">
                <ul class="message-item" id="historyBlock">

                </ul>
            </div>
            <div class="layui-tab-item">
                <ul class="message-item" id="timelyBlock">

                </ul>
            </div>
        </div>
    </div>
    <script src="../../static/dhh/plugings/sockjs-0.3.min.js" th:src="@{/dhh/plugings/sockjs-0.3.min.js}"></script>
    <script src="../../static/dhh/plugings/mustache.min.js" th:src="@{/dhh/plugings/mustache.min.js}"></script>
    <script id="myTextMessageTemp" type="text/html">
        <li class="message-common message-admin">
            <img class="head-img"
                 src="http://wx.qlogo.cn/mmopen/Q3auHgzwzM5eMSqeGEfGpfialPSicVuy5Pux6flZPNHVicB95umlunC3jFLKdl53nnhJa9PXMA7BqOjLZdKYdC7NQ/0"
                 alt="">
            <div class="message-main">
                <div class="nick-name-time-admin">
                    <span>管理员</span>
                    <time>2017-12-12 14:21:56</time>
                    <span>@大灰灰</span>
                </div>
                <div class="message-content-normal message-content-admin">
                    {{&message}}
                </div>
            </div>
        </li>
    </script>
    <script id="otherTextMessageTemp" type="text/html">
        <li class="message-common message-normal">
            <img class="head-img"
                 src="{{wechatFansImgUrl}}"
                 alt="">
            <div class="message-main">
                <div class="nick-name-time-normal">
                    <span>{{wechatFansNickName}}</span>
                    <time>{{sendTime}}</time>
                </div>
                <div class="message-content-normal">
                    {{&message}}
                </div>
            </div>
        </li>
    </script>
    <script id="myImgMessageTemp" type="text/html">
        <li class="message-common message-admin">
            <img class="head-img"
                 src="http://wx.qlogo.cn/mmopen/Q3auHgzwzM5eMSqeGEfGpfialPSicVuy5Pux6flZPNHVicB95umlunC3jFLKdl53nnhJa9PXMA7BqOjLZdKYdC7NQ/0"
                 alt="">
            <div class="message-main">
                <div class="nick-name-time-admin">
                    <span>管理员</span>
                    <time>2017-12-12 14:21:56</time>
                    <span>@大灰灰</span>
                </div>
                <div class="message-content-normal message-content-admin message-img">
                    <img src="http://wx.qlogo.cn/mmopen/Q3auHgzwzM5eMSqeGEfGpfialPSicVuy5Pux6flZPNHVicB95umlunC3jFLKdl53nnhJa9PXMA7BqOjLZdKYdC7NQ/0"
                         alt="">
                </div>
            </div>
        </li>
    </script>
    <script id="otherImgMessageTemp" type="text/html">
        <li class="message-common message-normal">
            <img class="head-img"
                 src="http://wx.qlogo.cn/mmopen/Q3auHgzwzM5eMSqeGEfGpfialPSicVuy5Pux6flZPNHVicB95umlunC3jFLKdl53nnhJa9PXMA7BqOjLZdKYdC7NQ/0"
                 alt="">
            <div class="message-main">
                <div class="nick-name-time-normal">
                    <span>大灰灰</span>
                    <time>2017-12-12 14:21:56</time>
                </div>
                <div class="message-content-normal message-img">
                    <img src="http://wx.qlogo.cn/mmopen/Q3auHgzwzM5eMSqeGEfGpfialPSicVuy5Pux6flZPNHVicB95umlunC3jFLKdl53nnhJa9PXMA7BqOjLZdKYdC7NQ/0"
                         alt="">
                </div>
            </div>
        </li>
    </script>
    <script type="text/html" id="systemTextMessageTemp">
        <li class="system-message">{{message}}</li>
    </script>
    <script type="text/html" id="userOpera">
        <ul style="padding: 5px;">
            <li>
                <img height="150px" width="150px"
                    src="DHH"
                    alt="头像">
            </li>
            <li style="margin-top:5px;">
                <button class="layui-btn layui-btn-sm" id="thisMessage">消息纪录</button>
                <button class="layui-btn layui-btn-sm">查看信息</button>
            </li>
        </ul>
    </script>
</div>
<script layout:fragment="javascript">
    layui.use(['jquery', 'ws', 'message', 'util', 'layer', 'dhh_utils','element'], function () {
        var page = 1;
        var pageForUser=1;//用来统计某个用户聊天纪录时分页用的
        var limit = 10;
        var isLast = false;
        var $ = layui.jquery;
        var ws = layui.ws;
        var message = layui.message;
        var util = layui.util;
        var layer = layui.layer;
        var dhhUtils = layui.dhh_utils;
        var element=layui.element;
        var tabList=new Array();
        getHistoryRecord(page, limit);
        var socket = ws.init("/sockjs/socketServer");
        function getHistoryRecord(page, limit, autoScroll) {
            if (!isLast) {
                $.getJSON('/wechat/message/all?page=' + page + "&limit=" + limit, function (data) {
                    isLast = data.last;
                    if (data.success) {
                        $("#messageCount").text(data.totalElements);
                        $.each(data.data, function (i, val) {
                            val.sendTime = util.timeAgo(val.sendTime * 1000);
                            message.appendToPage('#historyBlock', $("#otherTextMessageTemp").html(), val, autoScroll);
                        });
                        showUserOpera();
                        if (page === 1 && !isLast) {
                            //添加一个可以点击的按钮
                            $("#historyBlock").append('<li id="lookMoreBtn" style="text-align: center"><a href="javascript:;"">查看更多</a></li>');
                            bindLookMoreBtn();
                        }
                    }
                });
            } else {
                $("#lookMoreBtn").remove();
            }
        }

        function bindLookMoreBtn() {
            $("#lookMoreBtn").click(function () {
                if (!isLast) {
                    getHistoryRecord(++page, limit, false);
                }
                $(this).remove();
            });
        }

        $("#historyBlock").scroll(function () {
            var divHeight = $(this).height();
            var nScrollHeight = $(this)[0].scrollHeight;
            var nScrollTop = $(this)[0].scrollTop;
            if (nScrollTop + divHeight + 10 >= nScrollHeight) {
                if (!isLast) {
                    getHistoryRecord(++page, limit, false);
                } else {
                    var str = '<li class="noMoreMessage" style="text-align: center"><a href="javascript:;"">没有更多消息了~</a></li>';
                    var $chatBlock = $("#historyBlock");
                    $chatBlock.find('.noMoreMessage').remove();
                    $chatBlock.append(str);
                }
            }
        });

        //接收到消息的时候
        socket.onmessage = function (data) {
            appendMessageToChatBlock(data);

        };

        function appendMessageToChatBlock(data) {
            var obj = JSON.parse(data.data);
            switch (obj.messageType) {
                case 'system' :
                    message.appendToPage('#historyBlock', $("#systemTextMessageTemp").html(), data, false)
                    break;
                case 'wechat':
                    obj.sendTime = util.timeAgo(obj.sendTime * 1000);
                    message.appendToPage('#timelyBlock', $("#otherTextMessageTemp").html(), obj, true);
                    showUserOpera();
                    break;
            }
        }

        /**
         * 鼠标点击用户头像时,弹出操作区域
         */
        function showUserOpera() {
            $(".head-img").unbind("click").click(function (e) {
                var offset = dhhUtils.mouseCoords(e);
                var $this=$(this);
                var obj=$this.data("userObj");
                layer.open({
                    title:obj.wechatFansNickName,
                    type: 1,
                    content: $("#userOpera").html().replace("DHH",obj.wechatFansImgUrl),
                    offset: [offset.y, offset.x],
                    shadeClose: true,
                    closeBtn:2,
                    anim:1
                });
                showThisUserMessage(obj.wechatFansNickName,obj.fromUserName);
            });
        }

        /**
         * 查看某个用户的聊天纪录
         */
        function findMessageByUser(openId) {
            $.getJSON('/wechat/message/all?page=' + pageForUser + "&limit=" + limit+"&openId="+openId,function (data) {
                if(data.success){
                    $.each(data.data, function (i, val) {
                        val.sendTime = util.timeAgo(val.sendTime * 1000);
                        message.appendToPage('#userMessageBlock', $("#otherTextMessageTemp").html(), val, false);
                    });
                }
            })
        }

        /**
         * 查看该用户的所有消息纪录
         */
        function showThisUserMessage(nickName,tabId) {
            $("#thisMessage").unbind('click').click(function (e) {
                layer.close(layer.index);
                //判断该用户是否已经打开过聊天窗口
                if(dhhUtils.hasItem(tabList,tabId)){
                    //有的话切换
                    element.tabChange('messageTab',tabId);
                }else{
                    tabList.push(tabId);
                    //没有则打开
                    element.tabAdd('messageTab',{
                        title:'与'+nickName+'的聊天纪录',
                        content:'<ul class="message-item" id="userMessageBlock"></ul>',
                        id:tabId
                    });
                    pageForUser=1;
                    findMessageByUser(tabId);
                    element.tabChange('messageTab',tabId);
                }
            })
        }
    });
</script>
</body>
</html>