<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title>用户列表</title>
</head>
<body class="layui-layout-body">
<div layout:fragment="content">

    <div class="layui-fluid">
        <div class="layui-low">
            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">筛选</h2>
                    <div class="layui-colla-content">
                        <form class="layui-form" action="#">
                            <div class="layui-form-item">
                                <label class="layui-form-label">帐号</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="account" placeholder="请输入帐号"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <label class="layui-form-label">昵称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="nickName" placeholder="请输入昵称"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <label class="layui-form-label">性别</label>
                                <div class="layui-input-inline" style="width:220px;">
                                    <input type="radio" name="sex" value="0" title="全部" checked>
                                    <input type="radio" name="sex" value="1" title="男">
                                    <input type="radio" name="sex" value="2" title="女">
                                </div>
                                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="userForm">
                                    <i class="layui-icon">&#xe609;</i>查询
                                </button>
                                <button class="layui-btn layui-btn-sm" id="refresh" type="button">
                                    <i class="layui-icon layui-anim layui-anim-loop">&#x1002;</i>刷新
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12">
                <table id="memberList" lay-filter="member_list" lay-size="sm"></table>
            </div>
        </div>
    </div>


    <script type="text/html" id="sexTemp">
        {{#  if(d.sex == '1'){ }}
        <i class="layui-icon" style="color: blue;">&#xe662;</i>
        {{#  } else { }}
        <i class="layui-icon" style="color: red;">&#xe661;</i>
        {{#  } }}
    </script>

    <script type="text/html" id="operaBtn">
        <a class="layui-btn  layui-btn-xs" lay-event="edit">查看</a>
        <!--<a class="layui-btn layui-btn-danger  layui-btn-xs" lay-event="del">删除</a>-->
    </script>
    <script type="text/html" id="headTemp">
        <img src="{{d.headImgUrl}}" alt="头像" height="25px" width="25px">
    </script>
</div>

<script layout:fragment="javascript" type="application/javascript">
    layui.use(['table', 'dhh_table'], function () {
        var table = layui.table;
        var dhh_table = layui.dhh_table;
        var $ = layui.jquery;
        var _tableHeight = $(".layui-body").height() - 20;
        table.render({
            elem: '#memberList',
            method: "GET",
            height: _tableHeight,
            url: '/member/list', //数据接口
            page: true, //开启分页
            cols: dhh_table.member_list,
            request: dhh_table.request,
            response: dhh_table.response,
            done: function (res, curr, count) {
                console.log("数据接受完毕");
            }
        });
    });
</script>
</body>
</html>