
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>登入</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
  <link rel="stylesheet" href="../../static/fly/css/global.css" th:href="@{/fly/css/global.css}">
  <link rel="icon" type="image/x-icon" href="../../static/dhh.ico" th:href="@{/dhh.ico}">
</head>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img src="../../static/dhh/images/doraemon.png" th:src="@{/dhh/images/doraemon.png}" alt="doraemon">
    </a>
  </div>
</div>

<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">登入</li>
        <li><a href="/member/regist.html">注册</a></li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form method="post">
              <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_email" name="account" value="602003139@qq.com" required lay-verify="email" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="password" value="aaa123" required lay-verify="password" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">人类验证</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请回答后面的问题" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid">
                  <span style="color: #c00;" th:text="${question}"></span>
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="login" lay-submit>立即登录</button>
                <span style="padding-left:20px;">
                  <a href="/member/forget.html">忘记密码？</a>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fly-footer">
    <p><a href="http://www.layui.com/" target="_blank">使用layui前端框架</a>
        <span th:text="${application.year}"></span> &copy;
        <a href="http://www.layui.com/" target="_blank"></a>
        <span th:text="${application.copyright}"></span>
    </p>
</div>

<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script>
  layui.use(['form','jquery'],function () {
      var form= layui.form;
      var $=layui.jquery;
      form.on('submit(login)',function (data) {
          var field=data.field;
          $.post('/member/login',field,function (data) {
              if(data.success){
                  layer.msg("登录成功~",{icon:6},function () {
                      window.location.href="/";
                  });
              }else{
                  layer.msg(data.message,{icon:5});
              }
          },'json');
          return false;
      });
      form.verify({
          //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
          password: [
              /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/,
              '密码错误'
          ]
      });
  });
</script>
</body>
</html>