.message-body {
    position: absolute;
    top: 56px;
    left: 5px;
    right: 4px;
    bottom: 4px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    background-color: #fff;
}
#messageCount{
    color:#009688;
}
.message-item {
    overflow: auto;
    padding: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 98%;
}

.message-common {
    display: flex;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 97%;
}

.message-normal {
    flex-direction: row;

}

.message-admin {
    display: flex;
    flex-direction: row-reverse;
}

.message-content-normal {
    padding: 4px;
    border-radius: 4px;
    background-color: #5FB878;
    color: #fff;
    margin-left: 6px;
}

.message-content-admin {
    background-color: #1E9FFF;
}

.message-img {
    text-align: center;
}

.message-img img {
    height: 80px;
    width: 80px;
}

.message-main {
    display: flex;
    flex-direction: column;
}

.nick-name-time-normal {
    color: #c2c2c2;
    padding-left: 6px;
}

.nick-name-time-admin {
    color: #c2c2c2;
    padding-right: 6px;
    text-align: right;
}

.head-img {
    height: 26px;
    width: 26px;
    float: left;
}
.head-img:hover{
    cursor: pointer;
}
.system-message{
    /*width: 100%;*/
    color: #c2c2c2;
    text-align: center;
}

.reply-block {
    position: absolute;
    bottom: 4px;
    width: 100%;
    background-color: #fff;
}
.message-opera li{
    margin-top:4px;
    margin-bottom: 4px;
}
.look-more{

}