<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}"/>
    <link rel="icon" type="image/x-icon" href="../../static/dhh.ico" th:href="@{/dhh.ico}">
</head>
<link rel="stylesheet" href="../../static/dhh/css/common.css" th:href="@{/dhh/css/common.css}">
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <a class="layui-logo" href="/">
            <img src="../../static/dhh/images/doraemon.png" th:src="@{/dhh/images/doraemon.png}" alt="doraemon">
        </a>
        <ul class="layui-nav layui-layout-left" lay-filter="topMenu">
            <!--顶部菜单区域-->
            <li class="layui-nav-item" th:each="topMenu : ${application.topMenuList}" th:attr="sort=${topMenu.sort}">
                <a th:href="${topMenu.url}" href="javascript:;">
                    <i class="layui-icon" th:utext="${topMenu.iconClass}">&#xe60c;</i>
                    <span th:text="${topMenu.name}">顶级菜单</span>
                </a>
                <!-- <dl class="layui-nav-child" th:if="${topMenu.child}" th:each="child : ${topMenu.child}">
                     <dd><a href="javascript:;" th:text="${child.name}" th:href="${child.url}">邮件管理</a></dd>
                 </dl>-->
            </li>
        </ul>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" id="weatherBlock">
            </li>
            <li class="layui-nav-item" th:if="${session.member_session_key}" th:object="${session.member_session_key}">
                <a href="javascript:;">
                    <img th:src="*{headImgUrl}" src="../../static/dhh/images/dhh.png" class="layui-nav-img">
                    <span th:text="*{nickName}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" id="baseInfo">基本资料</a></dd>
                    <dd><a href="/member/exit">退了</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" id="msg" th:if="${session.member_session_key}">
                <a href="javascript:;">消息<span class="layui-badge">6</span></a>
            </li>
            <li class="layui-nav-item" th:unless="${session.member_session_key}">
                <a href="/member/login.html">请登录</a>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" id="left-nav" lay-filter="leftMenu">
                <!--左侧菜单-->
                <li th:each="leftMenu , index : ${application.leftMenuList}" class="layui-nav-item">
                    <a href="javascript:;" th:href="${leftMenu.url} != '' ? ${leftMenu.url} : 'javascript:;'">
                        <i class="layui-icon" th:utext="${leftMenu.iconClass}">&#xe60c;</i>
                        <span th:text="${leftMenu.name}">顶级菜单</span>
                    </a>
                    <dl class="layui-nav-child" th:each="child,index : ${leftMenu.child}">
                        <dd>
                            <a href="javascript:;" style="padding-left:48px;" th:utext="${child.name}"
                               th:href="${child.url}">列表一</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="dhh-right">
        <div class="layui-body" id="content" style="padding: 4px;" layout:fragment="content">

        </div>
        <div class="layui-footer">
            <span>© <time th:text="${application.year}"></time><span th:text="${application.copyright}"></span></span>
            <span style="float: right">当前人数：<span id="currentNum">0</span></span>
        </div>
    </div>
</div>
<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script type="application/javascript">
    layui.config({
        base: '/dhh/modules/'
    });
</script>
<script type="application/javascript">
    layui.use(['element', 'nicescroll'], function () {
        var element = layui.element;
        var $ = layui.jquery;
        var pathName = window.location.pathname;
        var _a = $("[href='" + pathName + "']");
        _a.parents("li").addClass("layui-nav-itemed");
        _a.addClass("layui-this");
        $("#content").niceScroll()//美化滚动条

        getWeather(function (obj) {
            obj = JSON.parse(obj);
            var imgSrc = "/images/weather/" + obj.code + ".png";
            $("#weatherBlock").html('<span>' + obj.addressName + '</span>丨<span>' + obj.temperature + '℃</span>丨' +
                '<img width="34px" src="' + imgSrc + '" alt="' + obj.weatherDesc + '">');
        });

        function getWeather(callback) {
            var nowWeather = sessionStorage.nowWeather;
            if (!nowWeather) {
                $.getJSON("/weather/getWeather", function (result) {
                    if (result.success) {
                        sessionStorage.nowWeather = JSON.stringify(result.data);
                        callback(sessionStorage.nowWeather);
                    }
                })
            } else {
                callback(nowWeather)
            }
        }
    });
</script>
<div layout:fragment="javascript"></div>
</body>

</html>
