.layui-header {
    height: 50px;
}
.dhh-top{
    height: 60px;
    background-color: #393D49;
}
.dhh-logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    line-height: 60px;
    text-align: center;
    color: #009688;
    font-size: 16px;
    z-index: 1000;
}

.dhh-nav {
    padding-left: 200px;
}

.dhh-menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 220px;
    background-color: #393D49;
    overflow-x: hidden;
}
.dhh-body{
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
}
.dhh-main {
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 200px;
    right: 0;
    z-index: 1000;
    background-color: #fff;
}

.dhh-footer {
    position: absolute;
    bottom: 0;
    left: 200px;
    right: 0;
    height: 20px;
    background-color: #2F4056;
}
.dhh-footer{
    color: #fff;
    text-align: center;
}