#login-bg{
    position: absolute;
    top:60px;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    background: -webkit-linear-gradient(#23262E, white); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#23262E, white); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#23262E, white); /* Firefox 3.6 - 15 */
    background: linear-gradient(#23262E, white); /* 标准的语法（必须放在最后） */
}