<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发生错误了！</title>
</head>
<body>
 <h1>发生错误了</h1>
 <!--/*@thymesVar id="message" type="java.lang.String"*/-->
 <h2 th:text="${message}"></h2>
<!--/*@thymesVar id="code" type="String"*/-->
<h3 th:text="${code}"></h3>
</body>
</html>